<section style="background-color: #ffffff">
  <div class="container py-5">
    <div class="main-timeline p-4">
      <div (appear)="onEmit($event)" class="timeline left">
        <div class="card">
          <div class="card-body p-4">
            <h3>2014 - 2017</h3>
            <p class="mb-0 card-subtitle">
              Study at Nguyen Trai Secondary School
            </p>
            <ul class="list mt-1"></ul>
            <img
              class="card-img"
              src="assets/thcsnt.jpg"
              style="height: 200px"
            />
          </div>
        </div>
      </div>
      <div (appear)="onEmit($event)" class="timeline right">
        <div class="card">
          <div class="card-body p-4">
            <h3>2018 - 2021</h3>
            <p class="mb-0 card-subtitle">
              Study at Thoai Ngoc Hau highschool for the gifted
            </p>
            <ul class="list mt-1">
              <li class="list-item">Specialize in Information Technology</li>
              <li class="list-item">GPA: 9.2/10</li>
            </ul>
            <img class="card-img" src="assets/tnh.png" style="height: 200px" />
          </div>
        </div>
      </div>

      <div (appear)="onEmit($event)" class="timeline left">
        <div class="card">
          <div class="card-body p-4">
            <h3>2022 - Now</h3>
            <p class="mb-0 card-subtitle">
              Study at Ho Chi Minh University of Science (HCMUS)
            </p>
            <ul class="list mt-1">
              <li class="list-item">Specialize in Information Technology</li>
            </ul>
            <img
              class="card-img mt-2"
              src="assets/dhkhtn.jpg"
              style="height: 200px"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<div class="timeline-container mt-5">-->

<!--  &lt;!&ndash;  Row 1&ndash;&gt;-->
<!--  <div class="row">-->

<!--    <div class="col-lg-5">-->
<!--      <div class="card p-4 rounded-5">-->
<!--        <div class="card-body">-->
<!--          <h4 class="card-title">Test</h4>-->
<!--          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
<!--          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's-->
<!--            content.</p>-->
<!--          <a class="card-link" href="#">Card link</a>-->
<!--          <a class="card-link" href="#">Another link</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-lg-2" style="width: 50px">-->
<!--      <div class="d-flex" style="height: 300px;">-->
<!--        <img alt="" src="">-->

<!--        <div class="vr" style="width: 15px;margin-left: auto;margin-right: auto;">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-lg-5">-->
<!--    </div>-->

<!--  </div>-->

<!--  &lt;!&ndash;  Row 2&ndash;&gt;-->
<!--  <div class="row">-->

<!--    <div class="col-lg-5">-->
<!--    </div>-->

<!--    <div class="col-lg-2" style="width: 50px">-->
<!--      <div class="d-flex" style="height: 300px;">-->
<!--        <div class="vr" style="width: 15px;margin-left: auto;margin-right: auto;">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-lg-5">-->
<!--      <div class="card p-4 rounded-5">-->
<!--        <div class="card-body">-->
<!--          <h4 class="card-title">Test</h4>-->
<!--          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
<!--          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's-->
<!--            content.</p>-->
<!--          <a class="card-link" href="#">Card link</a>-->
<!--          <a class="card-link" href="#">Another link</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->

<!--</div>-->
