<div class="container introduce-container">
  <div class="card rounded-0 shadow1 p-5">
    <div
      class="wrapper position-relative d-inline-block mb-5"
      style="height: 80px; width: 230px"
    >
      <h1
        class="fw-light fs d-inline-block text-bg-warning position-absolute rounded-2"
        style="font-size: 60px; padding: 10px"
      >
        About
      </h1>
      <h1
        class="fw-light fs text-bg-dark position-absolute p-3 rounded-circle"
        style="font-size: 40px; left: 160px; bottom: -60px"
      >
        me
      </h1>
    </div>
    <!--    Skill -->
    <div class="title-decor position-relative">
      <h1
        class="title text text-center mt-3 mb-3 text-warning"
        style="font-family: 'Buffalo', sans-serif; font-size: 30px"
      >
        Skills
      </h1>
    </div>

    <div class="container-fluid rounded-3 mt-4">
      <div class="row mt-4">
        <!--col 1-->
        <div class="col-lg-3 mt-3">
          <div class="item1 card ms-auto me-auto" style="width: 150px">
            <div class="fill water-fill position-absolute"></div>
            <div class="p-3 logo ms-auto me-auto" style="z-index: 1">
              <img
                class=""
                src="https://img.icons8.com/color/480/null/java-coffee-cup-logo--v1.png"
                style="width: 100px; height: 100px"
              />
              <div class="fw-bold text-white text-center">Java</div>
            </div>
            <!--            moreinfo1-->
            <div class="card more-info1 p-3">
              <h5 class="moreinfo-title">Basic knowledge of:</h5>
              <ul class="moreinfo-body fw-bold">
                <li>Java Core</li>
                <li>Java Web Development</li>
                <li>Java Framework</li>
              </ul>
            </div>
          </div>
        </div>
        <!--col 2-->
        <div class="col-lg-3 mt-3">
          <div class="item2 card ms-auto me-auto" style="width: 150px">
            <div class="fill1 water-fill1 position-absolute"></div>
            <div class="p-3 logo ms-auto me-auto" style="z-index: 1">
              <img
                class=""
                src="assets/angular.png"
                style="width: 100px; height: 100px"
              />
              <div class="fw-bold text-white text-center">Angular</div>
            </div>
            <!--            moreinfo2-->
            <div class="card more-info2 p-3">
              <h5 class="moreinfo-title">Basic knowledge of:</h5>
              <ul class="moreinfo-body fw-bold">
                <li>
                  Components, Modules, Directives, Services, DI, Routing, Forms,
                  Observables, Pipes, Http
                </li>
                <li>
                  Advance: Lazy loading, Change Detection, Reactive Forms,
                  Interceptors, Animations, NgRx, Server-Side Redering,Angular
                  Universal, PWA
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- col 3-->
        <div class="col-lg-3 mt-3">
          <div class="item3 card ms-auto me-auto" style="width: 150px">
            <div class="fill2 water-fill2 position-absolute"></div>
            <div class="p-3 logo ms-auto me-auto" style="z-index: 1">
              <img
                class=""
                src="assets/jslogo.png"
                style="width: 100px; height: 100px"
              />
              <div class="fw-bold text-white text-center">Javascript</div>
            </div>
            <!--            moreinfo3-->
            <div class="card more-info3 p-3">
              <h5 class="moreinfo-title">Basic knowledge of:</h5>
              <ul class="moreinfo-body fw-bold">
                <li>Javascript concepts</li>
                <li>
                  Service Workers, ES6, Callbacks, Promises, Regular Expressions
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- col 4-->
        <div class="col-lg-3 mt-3">
          <div class="item4 card ms-auto me-auto" style="width: 150px">
            <div class="fill3 water-fill3 position-absolute"></div>
            <div class="p-3 logo ms-auto me-auto" style="z-index: 1">
              <img
                class=""
                src="assets/css.png"
                style="width: 100px; height: 100px"
              />
              <div class="fw-bold text-white text-center">CSS</div>
            </div>
            <!--            moreinfo4-->
            <div class="card more-info4 p-3">
              <h5 class="moreinfo-title">Basic knowledge of:</h5>
              <ul class="moreinfo-body fw-bold">
                <li>Selectors,Properties,Values,Cascading CSS, Box model</li>
                <li>Media query, Layout, Units, Pseudo-classes</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-lg-3 mt-3">
          <div class="item5 card ms-auto me-auto" style="width: 150px">
            <div class="fill4 water-fill4 position-absolute"></div>
            <div class="p-3 logo ms-auto me-auto" style="z-index: 1">
              <img
                class=""
                src="assets/ts-logo-256.png"
                style="width: 100px; height: 100px"
              />
              <div class="fw-bold text-white text-center">Typescript</div>
            </div>
            <!--            moreinfo5-->
            <div class="card more-info5 p-3">
              <h5 class="moreinfo-title">Basic knowledge of:</h5>
              <ul class="moreinfo-body fw-bold">
                <li>Generic, Modules, Decorators, Type inference,...</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mt-3">
          <div class="item6 card ms-auto me-auto" style="width: 150px">
            <div class="fill5 water-fill5 position-absolute"></div>
            <div class="p-3 logo ms-auto me-auto" style="z-index: 1">
              <img
                class=""
                src="assets/html.png"
                style="width: 100px; height: 100px"
              />
              <div class="fw-bold text-white text-center">HTML</div>
            </div>
            <!--            moreinfo6-->
            <div class="card more-info6 p-3">
              <h5 class="moreinfo-title">Basic knowledge of:</h5>
              <ul class="moreinfo-body fw-bold">
                <li>
                  Tags, Attributes, Document structure,Semantic markup,...
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mt-3">
          <div class="item7 card ms-auto me-auto" style="width: 150px">
            <div class="fill6 water-fill6 position-absolute"></div>
            <div class="p-3 logo ms-auto me-auto" style="z-index: 1">
              <img
                class=""
                src="assets/Bootstrap.png"
                style="width: 120px; height: 100px"
              />
              <div class="fw-bold text-white text-center">Bootstrap</div>
            </div>
            <!--            moreinfo7-->
            <div class="card more-info7 p-3">
              <h5 class="moreinfo-title">Basic knowledge of:</h5>
              <ul class="moreinfo-body fw-bold">
                <li>
                  Grid System, Responsive Design, Typography, Forms, Buttons,
                  Navigation,Modals,...
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mt-3">
          <div class="item8 card ms-auto me-auto" style="width: 150px">
            <div class="fill7 water-fill7 position-absolute"></div>
            <div class="p-3 logo ms-auto me-auto" style="z-index: 1">
              <img
                class=""
                src="assets/MySQL.png"
                style="width: 130px; height: 100px"
              />
              <div class="fw-bold text-white text-center">MySQL</div>
            </div>
            <!--            moreinfo8-->
            <div class="card more-info8 p-3">
              <h5 class="moreinfo-title">Basic knowledge of:</h5>
              <ul class="moreinfo-body fw-bold">
                <li>
                  Relational Database, SQL, Triggers, Views, Data types,
                  Transactions
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="title-decor position-relative">
      <h1
        class="title text text-center mt-3 mb-3 text-warning"
        style="font-family: 'Buffalo', sans-serif; font-size: 30px"
      >
        Education
      </h1>
    </div>

    <app-timelines></app-timelines>

    <div class="title-decor position-relative">
      <h1
        class="title text text-center mt-3 mb-3 text-warning"
        style="font-family: 'Buffalo', sans-serif; font-size: 30px"
      >
        Achievements
      </h1>
    </div>
    <img
      alt=""
      class="ms-auto me-auto mt-4"
      src="assets/award.png"
      style="width: 100px; height: 100px"
    />
    <div class="achievement-body p-5">
      <!--    Secondary award-->
      <h1 class="text-warning" style="font-weight: bold; font-size: 30px">
        2014 - 2017
      </h1>
      <ul class="card-subtitle">
        <li class="p-3 text-dark" style="font-size: 23px">
          2017: <span class="text-secondary fw-bold">Second Prize</span>
          in Youth Information Technology Competition in Competitive Coding form
          (Vinaphone sponsored & celebrated)
        </li>
      </ul>
      <!--    Highschool -->
      <h1 class="text-warning" style="font-weight: bold; font-size: 30px">
        2018 - 2021
      </h1>
      <ul class="card-subtitle">
        <li class="p-3" style="font-size: 23px">
          2019 - 2020:
          <div class="mt-3">
            + <span class="text-secondary fw-bolder">Second Prize</span> in
            Youth Information Technology Competition in creative software form
            (Vinaphone sponsored & celebrated)
            <div class="fw-semibold" style="font-size: 18px">
              Project info:
              <a
                class="fw-normal ms-3 text-decoration-none"
                href="https://github.com/Mike20403/Smartlib"
                style="cursor: pointer"
              >
                Smartlib - Online book reading application ( coding with Java &
                Android Studio )</a
              >
            </div>
          </div>
          <div class="mt-3">
            + <span class="text-secondary fw-bolder">Second Prize</span> in Good
            Student Selection Competition ( Province level )
          </div>
          <div class="mt-3">
            + <span class="fw-bolder" style="color: brown">Third Prize</span> in
            Science and Technology contest ( Province level )
          </div>
        </li>
      </ul>
    </div>

    <div class="title-decor position-relative">
      <h1
        class="title text text-center mt-3 mb-3 text-warning"
        style="font-family: 'Buffalo', sans-serif; font-size: 30px"
      >
        Certificates
      </h1>
    </div>
    <img
      alt=""
      class="ms-auto me-auto mt-4"
      src="assets/certificate.png"
      style="width: 100px; height: 100px"
    />

    <ul class="mt-3">
      <h1 class="text-warning">2021 :</h1>
      <li class="cert1 mt-5">
        <a
          class="text-decoration-none"
          href="https://www.coursera.org/account/accomplishments/certificate/SLNNBYS34XV6"
          target="_blank"
          title="Lawrie Sisley Talansky, Public domain, via Wikimedia Commons"
        >
          <img
            alt="Coursera-Logo 600x600"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/Coursera-Logo_600x600.svg/512px-Coursera-Logo_600x600.svg.png"
            width="100"
          />
          <span class="fw-bold ms-3" style="font-size: 20px"
            >HTML, CSS, and Javascript for Web Developers on Cousera
          </span></a
        >
      </li>
      <li class="cert2 mt-5">
        <a
          class="text-decoration-none"
          href="https://www.udemy.com/certificate/UC-64d464a5-fd99-4a83-a0ed-0653d17b0ad1/"
          target="_blank"
          title="Udemy, Public domain, via Wikimedia Commons"
        >
          <img
            alt="Udemy logo"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Udemy_logo.svg/512px-Udemy_logo.svg.png"
            width="100"
          />
          <span class="fw-bold ms-3" style="font-size: 20px"
            >Angular - The Complete Guide (2023 Edition)
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
